<a href="https://colab.research.google.com/github/danielsc/intro_to_python/blob/master/Lab_2_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Follow the flow of execution in the following programs.  For each one, predict what will happen in your notebook.  Some examples may not show the correct syntax!

see [here for more info on slicing in python](https://www.pythoncentral.io/how-to-slice-listsarrays-and-tuples-in-python/)

In [ ]:
a_list = list(range(10))
print(a_list)
print("---------")
print(a_list[1:8:2])

a_list.append(7)
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
---------
[1, 3, 5, 7]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

In [ ]:
a_list.pop()
a_list.index(5)

5

In [ ]:
# Example 1:
a_list = ['a', 'b', 'c', 'd', 'e']
print(a_list[0:3])
print(a_list[1:4])
print(a_list[::2])
print(a_list[1::2])

In [ ]:
# Example 2:
a_list = ['a', 'b', 'c', 'd', 'e']
print(a_list[1:(len(a_list) - 3)])

In [ ]:
# Example 3:
a_list = ['a', 'b', 'c', 'd', 'e']
b_list = a_list.remove('b')
print(a_list)
print(b_list)

In [ ]:

# Example 4:
a_list = ['a', 'b', 'c', 'd', 'e']
b_value = a_list.pop()
print(a_list)
print(b_value)

['a', 'b', 'c', 'd']
e

In [ ]:
# Example 5:
a_list = ['a', 'b', 'c', 'd', 'e']
b_list = a_list + ['abc']
print(a_list)
print(b_list)

In [ ]:
# Example 6:
a_list = ['a', 'b', 'c', 'd', 'e']
b_list = a_list.append('f')
print(a_list)
print(b_list)

## Creating a Tic-Tac-Toe using a single list

Create this game using lists and indexes, according to the following rules:
- The user will pick a location on the board according to this diagram (printed by the program).

    ```
    1 | 2 | 3
    ---------
    4 | 5 | 6
    ---------
    7 | 8 | 9
    ```

- Depending on the position that the user inputs, update the corresponding list element to be an “X”.
- Print the updated board out, but do not worry about making it look pretty.
You only need to implement one turn of the game for now.

As a hint: use the join function on the strings 
```
" | ".join(["1","2","3"])
-> '1 | 2 | 3'
```

['1', '2', '3', '4', '5', 'X', '7', '8', '9']